{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["node 6"]
        },
        "debug": false,
        "modules": "commonjs",
        "useBuiltIns": false
      }
    ],
    "@babel/preset-flow"
  ]
}